@font-face {
  font-family: "Glacial";
  src: url(../public/fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: "Glacial";
  font-weight: bold;
  src: url(../public/fonts/GlacialIndifference-Bold.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Glacial";
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
